.insights-menu{
	display: none;
	&.active{
		display: flex;
        align-items: flex-start;
        justify-content: space-arround;
        flex-basis: 60%;
        width: 100%;
	}
	&__left{
		flex-basis: 40%;
		width: 40%;
		padding-left: 10%;
	}
	&__right{
		width: 60%;
		flex-basis: 60%;

	}
	&__link{
		display: flex;
		color: $white;
		text-decoration: none;
		align-items: center;
		margin-bottom: 17px;
		opacity: .7;
		transition: opacity .3s;
		&:hover{
			opacity: 1;
			.arrow-navigation {
                margin-left: -15px;
                margin-right: 5px;
                width: 43px;
                &__icon {
                    width: 37px;
                    &:before {
                        width: 5px;
                        transform: rotate(70deg) translateX(-50%);
                    }
                    &:after {
                        width: 5px;
                        transform: rotate(110deg) translateX(50%);
                    }
                }
            }
		}
	}
	&__item{
		position: relative;
		padding-left: 38px;
		margin-bottom: 60px;
	}
	&__title{
		font-family: $gotham;
		font-size: 14px;
		font-weight: 900;
		text-transform: uppercase; 
		margin-bottom: 30px;
	}
	&__text{
		font-size: 18px;
		margin-bottom: 30px;
	}
	&__showMore{
		font-weight: bold;
		color: $white;
		opacity: .5;
		text-decoration: none;
		text-transform: uppercase;
		transition: opacity .2s;
		&:hover{
			opacity: 1;
		}
	}
	&__group{
		transform-origin: 0 100%;
		transform: rotate(-90deg) translate(-90%, 0);
		text-transform: uppercase;
		position: absolute;
		left: 0;
		top: 0;

	}
}