/* Your custom fonts here */


@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/Gotham/GothamProBlack.ttf');
    font-weight: 900;       
    }

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/Gotham/GothaProBol.otf');
    font-weight: 800;       
    }

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 800;       
    }

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;       
    }


// Var for using custom font
$gotham: 'GothamPro', 'Roboto', Helvetica, Arial, sans-serif;
$roboto: 'Roboto', Helvetica, Arial, sans-serif;
