// File for scss-vars.

// colors
$red: #cd5151;
$blue: #014f7d;
$white: #fff;
$gray: #333;
$lightGray: #f7f7f7;

//screen variables
$screen-sm: 768px;
$screen-md: 1280px;
$screen-lg: 1600px;

//media queries
$media-sm: "min-width: #{ $screen-sm }";
$media-md: "min-width: #{$screen-md}";
$media-lg: "min-width: #{$screen-lg}";

$fixed-xs: "max-width: 767px";
$fixed-sm: "(min-width: 768px) and (max-width: 1279px)";
$fixed-md: "(min-width:#{ $screen-md -1 }) and (max-width: #{ $screen-lg -1 })";

//transition
$timeFunction: cubic-bezier(0, .20, .23, 1); 