.arrow {
    &-right {
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        &__icon {
            height: 1px;
            background-color: $white;
            margin-right: 6px;
            width: 37px;
            position: relative;
            transition: width .2s $timeFunction, transform .2s;
            transform: translateX(0);
            &:before {
                content: "";
                position: absolute;
                right: -10px;
                display: block;
                height: 1px;
                background-color: $white;
                width: 5px;
                transform: rotate(45deg) translateX(-50%);
                transition: transform .2s $timeFunction;
            }
            &:after {
                content: "";
                position: absolute;
                right: -10px;
                display: block;
                height: 1px;
                background-color: $white;
                width: 5px;
                transform: rotate(135deg) translateX(50%);
                transition: transform .2s $timeFunction;
            }
        }
        &:hover {
            .arrow-right {
                &__icon {
                    width: 40px;
                    transform: translateX(6px);
                    &:before {
                        content: "";
                        position: absolute;
                        right: -10px;
                        display: block;
                        height: 1px;
                        background-color: $white;
                        width: 5px;
                        transform: rotate(60deg) translateX(-50%);
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        right: -10px;
                        display: block;
                        height: 1px;
                        background-color: $white;
                        width: 5px;
                        transform: rotate(120deg) translateX(50%);
                    }
                }
            }
        }
    }
    &-left {
        @extend .arrow-right;
        transform: scaleX(-1);
        &__icon {
            @extend .arrow-right__icon
        }
    }
    &-cases {
        margin-left: -100%;
        width: 37px;
        position: relative;
        margin-right: 7px;
        &__icon {
            position: absolute;
            right: 0;
            top: 6px;
            height: 1px;
            background-color: $white;
            margin-right: 6px;
            width: 0;
            will-change: width;
            transition: width .2s $timeFunction, transform .2s;
            transform: translateX(0);
        }
    }
    &-readmore {
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        &__icon {
            height: 1px;
            background-color: $white;
            margin-right: 6px;
            width: 37px;
            position: relative;
            transition: width .2s $timeFunction, transform .2s;
            transform: translateX(0);
            &:before {
                content: "";
                position: absolute;
                right: -10px;
                display: block;
                height: 1px;
                background-color: $white;
                width: 5px;
                transform: rotate(45deg) translateX(-50%);
                transition: transform .2s $timeFunction;
            }
            &:after {
                content: "";
                position: absolute;
                right: -10px;
                display: block;
                height: 1px;
                background-color: $white;
                width: 5px;
                transform: rotate(135deg) translateX(50%);
                transition: transform .2s $timeFunction;
            }
        }
    }
    &-navigation {
        display: none;
        @media($media-sm) {
            display: inline-block;
        }
        $time: .3s;
        vertical-align: middle;
        width: 0;
        transition: margin $time $timeFunction,
        width $time $timeFunction;
        &__icon {
            height: 1px;
            background-color: $white;
            margin-right: 6px;
            width: 0;
            position: relative;
            transition: width $time $timeFunction, transform $time;
            transform: translateX(0);
            &:before {
                content: "";
                position: absolute;
                right: -10px;
                display: block;
                height: 1px;
                background-color: $white;
                width: 0;
                transform: rotate(45deg) translateX(-50%);
                transition: transform $time $timeFunction, width $time $timeFunction;
            }
            &:after {
                content: "";
                position: absolute;
                right: -10px;
                display: block;
                height: 1px;
                background-color: $white;
                width: 0;
                transform: rotate(135deg) translateX(50%);
                transition: transform $time $timeFunction, width $time $timeFunction;
            }
        }
    }
}
