.footer {
    padding-top: 38px;
    padding-bottom: 25px;
    @include container();
    @media($media-sm) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        height: 81px;
    }
    &__left {
        @media($media-sm) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-basis: 68%;

        }
    }
    &__right {
        @media($media-sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 32%;
           
        }
        @media($media-md){
            justify-content: flex-end;
        }
    }
}
