.social {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 25px;
    @media($media-sm) {
        text-align: left;
        margin-left: 100 / 6 *1%;
    }
    @media($media-md) {
       margin-top: 80px;
       margin-left: 25.667%;
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        &:first-child {
            @media($media-sm) {
                margin-left: -9.5px;
            }
        }
    }
    &__icon {
        height: 14px;
        fill: $white;
        padding-left: 9.5px;
        padding-right: 9.5px;
        transition: fill .1s;
        &:hover {
            fill: $red;
        }
    }
}

.social-footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 13px;
    @media($media-sm) {
        margin-top: 0;
        margin-bottom: 0;
        align-self: flex-end;
    }
    @media($media-md) {
        margin-right: 22px;
    }
    &__link {
        @extend .social__link;
    }
    &__icon {
        height: 14px;
        fill: $red;
        padding-left: 9.5px;
        padding-right: 9.5px;
        transition: fill .1s;
        &:hover {
            fill: $blue;
        }
        @media($media-sm) {
            fill: $blue;
            &:hover {
                fill: $red;
            }
        }
        @media($media-md) {
            padding-right: 7.5px;
        }
    }
}