.timeline {
    display: none;
    @media($media-sm) {
        display: flex;
        margin-top: 30px;
        margin-bottom: 45px;
        align-items: center;
        @include container;
        &.load{
            animation: fadeOut;
            animation-duration: 4s;
        }
    }
    @media($media-md) {
        margin-top: 44px;
        margin-bottom: 38px;
    }
    &__info {
        flex-basis: 95px;
        display: flex;
        font-size: 10px;
        text-transform: uppercase;
    }
    &__counter {
        display: none;
        &.active {
            display: block;
        }
    }
    &__more {
        color: $white;
        flex-basis: 100%;
        text-align: center;
        cursor: pointer;
    }
    &__line {
        flex-basis: 625px;
        flex-grow: 1;
        position: relative;
        // &-active {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     border-bottom: 2px dashed $white;
        //}
    }
    &__svg {
        position: absolute;
        width: 0;
        width: 100%;
        stroke-width: 2px;
        stroke: $white;
        stroke-dasharray: 5 5;
       
        stroke-opacity: .1;
    }
    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        stroke-width: 2px;
        stroke: $white;
        stroke-dasharray: 5 5;
       
        stroke-opacity: 1;
      
       &.active{
            width: 100%;
            transition: 10s $timeFunction; 
       }
    }
    &__arrow {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 19;
        @media($media-md) {
            left: 33.33%;
        }
        &:last-child {
            display: none;
            @media($media-md) {
                display: block;
                left: 66.66%;
            }
        }
    }
}



@keyframes loader {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
} 
