.hamburger {
    cursor: pointer;
    display: block;
    padding-top: 4px;
    @media($media-sm) {
        display: inline-block;
    }
    &__text {
        vertical-align: top;
        display: none;
        margin-right: 11px;
        @media($media-sm) {
            display: inline-block;
            font-size: 15px;
            margin-right: 35px;
            color: $blue;
            font-weight: bold;
            transition: opacity .1s .5s;
        }
    }
    &__icon {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        right: 10px;
        z-index: 99;
        transform: translateX(0);
        right: 10px;
        top: 20px;
        &:hover {
            transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
            .hamburger__line {
                &:nth-child(1) {
                  transform: translateX(-3px);
                } 
                &:nth-child(2) {
                  transform: translateX(3px);
                }
                 &:nth-child(3) {
                  transform: translateX(-3px);
                }
            }
        }
        @media($media-sm) {
            top: 37px;
            right: 23px;
            vertical-align: middle;
        }
        @media($media-md) {
            top: 55px;
            right: 40px;
        }
    }
    &__line {
        width: 23px;
        height: 1px;
        background-color: $red;
        position: relative;
        display: block;
        left: 0;
        top: 0;
        margin-bottom: 4px;
        transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), width 0.3s cubic-bezier(0.47, 0, 0.745, 0.715), background-color .5s .5s;
        transform-origin: left center;
        &:last-child {
            margin-bottom: 0;
        }
        @media($media-sm) {
            transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), width 0.4s cubic-bezier(0.47, 0, 0.745, 0.715), background-color .5s .9s;
        }
    }
    &.active {
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), width 0.4s cubic-bezier(0.47, 0, 0.745, 0.715), background-color .5s .5s;
        .hamburger {
            &__line {
                background-color: $white;
                transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), width 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), background-color .3s .5s;
            }
            &__line:nth-child(2) {
                width: 16px;
            }
            &__line:first-child {
                transform: translate(15px, 1px) rotate(45deg);
                width: 6px
            }
            &__line:last-child {
                transform: translate(15px, -1px) rotate(-45deg);
                width: 5px;
            }
            &__text {
                opacity: 0;
            }
            &__icon {
                position: fixed;
            }
        }
        &:hover {
            //transform: translateX(9px);
            .hamburger {
                &__line {
                    // transition: width .1s cubic-bezier(0.165, 0.84, 0.44, 1),  transform .1s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
                &__line:nth-child(2) {
                    width: 22px;
                    transform: translate(-5px, 0);
                }
                &__line:first-child {
                    transform: translate(20px, 0) rotate(70deg);
                    width: 6px
                }
                &__line:last-child {
                    transform: translate(20px, 0) rotate(-70deg);
                    width: 5px;
                }
            }
        }
    }
}