.hamburger-services {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 2px;
    &__icon {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        transform: translateX(0);
      
        &:hover {
            transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
            .hamburger__line {
                &:nth-child(1) {
                    transform: translateX(-3px);
                }
                &:nth-child(2) {
                    transform: translateX(3px);
                }
                &:nth-child(3) {
                    transform: translateX(-3px);
                }
            }
        }
      
    }
    &__line {
        width: 23px;
        height: 1px;
        background-color: $white;
        position: relative;
        display: block;
        left: 0;
        top: 0;
        margin-bottom: 4px;
        transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), width 0.3s cubic-bezier(0.47, 0, 0.745, 0.715), background-color .5s .5s;
        transform-origin: left center;
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(2) {
            width: 16px;
        }
        &:first-child {
            transform: translate(15px, 1px) rotate(45deg);
            width: 6px
        }
        &:last-child {
            transform: translate(15px, -1px) rotate(-45deg);
            width: 5px;
        }
        @media($media-sm) {
            transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), width 0.4s cubic-bezier(0.47, 0, 0.745, 0.715), background-color .5s .9s;
        }
    }
    &:hover {
        //transform: translateX(9px);
        .hamburger-services {
            &__line {
                // transition: width .1s cubic-bezier(0.165, 0.84, 0.44, 1),  transform .1s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
            &__line:nth-child(2) {
                width: 22px;
                transform: translate(-5px, 0);
            }
            &__line:first-child {
                transform: translate(20px, 0) rotate(70deg);
                width: 6px
            }
            &__line:last-child {
                transform: translate(20px, 0) rotate(-70deg);
                width: 5px;
            }
        }
    }
}
